<!DOCTYPE html>
<html>
<head>
  <title>StaticBlocks</title>
  <%= stylesheet_link_tag    "static_blocks/application", :media => "all" %>
  <%= javascript_include_tag "static_blocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Static Blocks", snippets_path, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "List snippets", snippets_path %></li>
            <li><%= link_to "New snippet", new_snippet_path %></li>
            <li><%= link_to "Export snippets", export_snippets_path(:format => :csv) %></li>
            <li><%= link_to "Export translations", export_translations_snippets_path(:format => :csv) %></li> </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
    <% end %>
    <% end %>

    <div id="locale" class="well well-small">
      <strong>Locale:</strong>

      <% StaticBlocks.config.locales.each do |loc| %>
        &nbsp;<%= link_to_unless_current loc, locale: loc %>
      <% end %>
    </div>

    <%= yield %>

  </div>

  <% if StaticBlocks.config.wysihtml5 %>
  <script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({
      html: true
    });
  });
  </script>
  <% end %>

</body>
</html>
