<%= form_for(@static_block) do |f| %>
  <% if @static_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_block.errors.count, "error") %> prohibited this static_block from being saved:</h2>

      <ul>
      <% @static_block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :class => 'wysihtml5' %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, [['Draft', 'draft'], ['Published', 'published']]) %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
