<%= form_for(@static_block) do |f| %>
  <% if @static_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_block.errors.count, "error") %> prohibited this static_block from being saved:</h2>

      <ul>
      <% @static_block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => 'wysihtml5' %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
