<h1>Listing static blocks</h1>

<div class="well">
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :title_cont, "Title contains" %>
      <%= f.text_field :title_cont %>
    </div>
    <div class="field">
      <%= f.label :content_cont, "Content contains" %>
      <%= f.text_field :content_cont %>
    </div>
    <div class="field">
      <%= f.label :status_cont %>
      <%= f.select(:status_cont, [['', ''], ['Draft', 'draft'], ['Published', 'published']]) %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
<table id="static-block-list" class="table table-striped">
  <tr>
    <th style="min-width: 60px;"><%= sort_link(@search, :title, "Title") %></th>
    <th><%= sort_link(@search, :content, "Content") %></th>
    <th style="min-width: 80px;"><%= sort_link(@search, :status, "Status") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @static_blocks.each do |static_block| %>
  <tr>
    <td><%= static_block.title %></td>
    <td><%= static_block.content %></td>
    <td><%= static_block.status %></td>
    <td><%= link_to 'Show', static_block_path(static_block), class: "btn btn-mini btn-success" %></td>
    <td><%= link_to 'Edit', edit_static_block_path(static_block), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Destroy', static_block, class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
