<h1>Listing static blocks</h1>
<div class="row">
<div class="span6">
  <h2>Search</h2>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :title_cont, "Title contains" %>
      <%= f.text_field :title_cont %>
    </div>
    <div class="field">
      <%= f.label :content_cont, "Content contains" %>
      <%= f.text_field :content_cont %>
    </div>
    <div class="field">
      <%= f.label :status_cont, "Status contains" %>
      <%= f.select(:status_cont, [['', ''], ['Draft', 'draft'], ['Published', 'published']]) %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
<div class="span6">
  <h2>Import</h2>
  <%= form_tag import_static_blocks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <h2>Import Translations</h2>
  <%= form_tag import_translations_static_blocks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Translations" %>
  <% end %>
</div>
</div>

<%= paginate @static_blocks, :theme => 'twitter-bootstrap' %>

<table id="static-block-list" class="table table-striped">
  <tr>
    <th style="min-width: 60px;"><%= sort_link(@search, :title, "Title") %></th>
    <th><%= sort_link(@search, :content, "Content") %></th>
    <th style="min-width: 80px;"><%= sort_link(@search, :status, "Status") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @static_blocks.each do |static_block| %>
  <tr>
    <td><%= static_block.title %></td>
    <td><%= static_block.content %></td>
    <td><%= static_block.status %></td>
    <td><%= link_to 'Show', static_block_path(static_block), class: "btn btn-mini btn-success" %></td>
    <td><%= link_to 'Edit', edit_static_block_path(static_block), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Destroy', static_block, class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= paginate @static_blocks, :theme => 'twitter-bootstrap' %>
